<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span class="mws-i-24 i-single-document">Insertar nuevo expediente</span>
	</div>

	<div class="mws-panel-body">
		<%= render 'form' %>
	</div>

</div>
<div class="mws-report-container clearfix">
	<%= link_to 'Ir Atrás', dossiers_path, :class => "mws-report-2 mws-button red medium" %>	
</div>
